<script defer data-turbo-eval="false">
    var campaignBar;
    document.addEventListener('turbo:load', (event) => {
    campaignBar = document.getElementById("campaign-widget");
        if (campaignBar !== null && campaignBar.childNodes.length === 0) {
            getCampaigns(true, "http://127.0.0.1:8080/announcement.json")
            .then(data => {
                data = checkExpiredEntries(data);
                return data;
            })  
            .then(data => {
                parseContents(data);
                return data;
            })
        }    
    });
</script>

{{ $js := resources.Get "js/campaign-widget.js" | fingerprint }}
<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}"></script>
