<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<script>
    var urlParamValues = {};
    const urlParams = new URLSearchParams(window.location.search);
    for (const [key, value] of urlParams) {
        if (value.includes(",")){
            urlParamValues[key] = value.split(",");
        } else {
            urlParamValues[key] = value;
        }
    }
</script>
{{ partial "head/css.html" . }}
{{ partial "head/js.html" . }}
