<!--Theme and Color Scheme Handler v0.0.3-->
<script data-turbo-eval="false">
    // Essential Script - Color Scheme Handler 1: Initializes and defines the theme and color scheme to be used
    const colorSchemeQuery = window.matchMedia('(prefers-color-scheme: dark)');
    const handleAutoColorSchemeChange = (event) => {
        event.matches
        ? document.documentElement.setAttribute('data-bs-theme', "dark")
        : document.documentElement.setAttribute('data-bs-theme', "light");
    };
    var initialColorScheme = localStorage.getItem("colorScheme") !== null && localStorage.getItem("colorScheme") !== "" 
        ?  localStorage.getItem("colorScheme")
        : "auto";
    var initialThemeName = localStorage.getItem("themeName") !== null && localStorage.getItem("themeName") !== "" 
        ?  localStorage.getItem("themeName")
        : "default";
    document.documentElement.setAttribute('data-theme-name', initialThemeName);
    initialColorScheme === 'auto'
    ?   (handleAutoColorSchemeChange(colorSchemeQuery), colorSchemeQuery.addEventListener('change', handleAutoColorSchemeChange))
    :   document.documentElement.setAttribute('data-bs-theme',  initialColorScheme)

</script>

<script defer data-turbo-eval="false">
// Deferred Script - Color Scheme Handler 2: Initializes the theme switcher icon on page load, accepts ?theme parameter
document.addEventListener(["turbo:load"], (event) => {
    var themeTogglerBtn = document.querySelector(`[data-theme-toggler-value="${initialThemeName}-${initialColorScheme}"]`);
    var themeTogglerIcon = themeTogglerBtn.children[0].classList;
    var activeThemeIcon = document.getElementById("theme-icon-active");

    document.querySelectorAll('[data-theme-toggler-value]').forEach(element => {
        element.classList.remove('active')
        element.setAttribute('aria-pressed', 'false')
    })
    activeThemeIcon.className = "";
    themeTogglerIcon.forEach(function(cls) {
        activeThemeIcon.classList.add(cls);
    });
    themeTogglerBtn.classList.toggle("active");
    themeTogglerBtn.setAttribute('aria-pressed', 'true');

    // Accepts the ?theme=themename-colorscheme parameter
    if (urlParamValues.theme != undefined){
        urlParamValues.theme = urlParamValues.theme.includes(".") || urlParamValues.theme.includes(" ")
            ? urlParamValues.theme.replace(/[ .]/g, "").split("-")
            : urlParamValues.theme.split("-");
        setTheme(urlParamValues.theme[1], urlParamValues.theme[0])
    }
});
// Deferred Script - Color Scheme Switcher: The function that poweres the theme changing
function setTheme(colorScheme, themeName, iconClass) {
    themeName = themeName == undefined ? themeName = "default" : themeName;
    if (themeName !== "default" && iconClass !== null) {
        //document.getElementById("themeSwitcherActiveIcon").className(iconClass);
    }
    document.querySelectorAll('[data-theme-toggler-value]').forEach(element => {
        element.classList.remove('active')
        element.setAttribute('aria-pressed', 'false')
    })
    console.log(`[data-theme-toggler-value="${themeName}-${colorScheme}"]`)
    var themeTogglerBtn = document.querySelector(`[data-theme-toggler-value="${themeName}-${colorScheme}"]`);
    var themeTogglerIcon = themeTogglerBtn.children[0].classList;
    var activeThemeIcon = document.getElementById("theme-icon-active");

    activeThemeIcon.className = "";
    themeTogglerIcon.forEach(function(cls) {
        activeThemeIcon.classList.add(cls);
    });

    themeTogglerBtn.classList.toggle("active");
    themeTogglerBtn.setAttribute('aria-pressed', 'true');

    if (colorScheme === "auto") {
        handleAutoColorSchemeChange(colorSchemeQuery);
        colorSchemeQuery.addEventListener('change', handleAutoColorSchemeChange);
        localStorage.setItem("colorScheme", "auto");
    } else {
        colorSchemeQuery.removeEventListener('change', handleAutoColorSchemeChange)
        localStorage.setItem("colorScheme", colorScheme);
        document.documentElement.setAttribute('data-bs-theme', colorScheme);
    }
    if (themeName !== undefined && themeName !== null) {
        localStorage.setItem("themeName", themeName);
        document.documentElement.setAttribute('data-theme-name', themeName);
    }
}
// Deferred Script -- theme:change Event: Allows scripts to watch theme and color scheme changes
// Initial theme:change dispatch
document.addEventListener('turbo:load', (e) => {  
    var attributes = {
        themeName: document.documentElement.getAttribute("data-theme-name"),
        colorScheme: document.documentElement.getAttribute("data-bs-theme")
    }
    const event = new CustomEvent("theme:change", {
      detail: { themeName: attributes.themeName, colorScheme: attributes.colorScheme }
    });
    document.dispatchEvent(event);
});
// Observe the html tag, then send an theme:change event
const callback = (mutationList, observer) => {
  var attributes = [];
  for (const mutation of mutationList) {
    if (mutation.attributeName == "data-theme-name"){
        attributes.themeName = mutation.target.getAttribute("data-theme-name");
    } else if (mutation.attributeName == "data-bs-theme") {
        attributes.colorScheme = mutation.target.getAttribute("data-bs-theme");
    }
  }
  if (attributes.themeName != null && attributes.colorScheme != null){
  const event = new CustomEvent("theme:change", {
      detail: { themeName: attributes.themeName, colorScheme: attributes.colorScheme }
    });
  document.dispatchEvent(event);
  }
};
const observer = new MutationObserver(callback);
observer.observe(document.documentElement, { attributes: true });
</script>