<!-- Modal -->
<div class="modal fade" id="announcementsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg-down">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="announcementsModalLabel">Announcements</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background:gray;">
        <div class="d-block px-3 py-2 text-center text-bold skippy">
            <a href="https://getbootstrap.com/" class="text-white text-decoration-none">Announcement Entry 1</a>
        </div>
        <div class="d-block px-3 py-2 text-center text-bold skippy">
          <a href="https://getbootstrap.com/" class="text-white text-decoration-none">Announcement Entry 2</a>
        </div>
        <div class="d-block px-3 py-2 text-center text-bold skippy">
          <a href="https://getbootstrap.com/" class="text-white text-decoration-none">Announcement Entry 3</a>
        </div>
        <div class="d-block px-3 py-2 text-center text-bold skippy">
          <a href="https://getbootstrap.com/" class="text-white text-decoration-none">Announcement Entry 4</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
