{{ define "main" }}
<main class="mx-3 h-100 px-3 py-1 bg-auto">
  <section class="blog-title my-3 text-center">
    
    <img class="img-fluid border rounded" src="https://placehold.co/600x400">
    <h1>{{.Title}}</h1>
    <h6>Authored by: {{.Params.author}}</h6>
    <h6>Published {{.Params.date}}</h6>
    <hr>
  </section>
  <section class="blog-content">
    {{.Content}}
  </section>
  <section class="blog-interactions my-2 p-5 border">
  <h6>Future comment section and reactions can be seen here</h6>
  </section>
</main>
{{ end }}
