/* Base Layouts */
header#header{
  position:sticky;
  top: 0;
  margin:0;
  grid-area: header;
}
.header-section-vl{
  margin-left:5px;
}
.header-section-vl ul {
  border-left:1px solid var(--bs-tertiary-color); 
}
.header-section-menu::after {
  /* Set the desired width */
 font-size: 20px; /* Set the font size */
}
aside#sidebar-left{
  grid-area: aside-left;
}
body main{
  grid-area: main;
}
aside#sidebar-right{
  grid-area: aside-right;
}
body footer{
  width:100%;
  clear:both;
  background:orangered;
  grid-area: footer
}
/* Temporarily disable this thing
@media(min-width: 968px){
  body {
    display: grid;
    grid-template-areas:
      "header header header"
      "aside-left main aside-right"
      "footer footer footer";
    grid-template-columns: 20% 60% 20%;
  }
}*/
/* Infopage custom css */
@media (max-width: 768px){
  main.infopage{
    width: 90% !important;
  }
}
@media (max-width: 568px){
  main.infopage{
    width: 95% !important;
  }
}
@media (max-width: 768px){
  main.infopage{
    width: 90% !important;
  }
}
@media (max-width: 568px){
  main.infopage{
    width: 95% !important;
  }
}
main.infopage > * {
  width:80%;
  margin-left:auto;
  margin-right:auto;
}
main.infopage .accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}
img.infopage-pfp{
  width:150px;
  aspect-ratio: 1/1;
  border:10px solid var(--img-infopage-border, --bs-border-color);
}
main.infopage > div.accordion,
main.infopage > div.dynamicContent div.accordion,
main.infopage a.btn
{
  margin:5px auto;
  max-width:1150px;
} 
main.infopage a.btn{
  overflow-wrap: anywhere;
}


main.infopage .accordion-button{
  box-shadow:unset;
  border-radius:var(--bs-accordion-inner-border-radius);
}

/* Blog TOC Layout
  TOC must be explicitly enabled
*/
@media (min-width: 992px) {
  main[data-page-toc="true"].main-content section.blog-toc
  {
    position:sticky;
    top:10rem;
    right:0;
    z-index:2;
    height:calc(100vh - 12rem);
    overflow-y: auto;
  }
  main.main-content[data-page-toc="true"].blog-postlike{
    display:grid;
    grid-template-areas: 
      "bpTtl bpTOC"
      "bpDesc bpTOC"
      "bpCnts bpTOC"
      "bpInteractions bpTOC";
  }
  main.main-content[data-page-toc="true"].blog-default{
    display:grid;
    grid-template-areas: 
      "bpTtl bpTtl"
      "bpCnts bpTOC"
      "bpInteractions bpTOC";
  }
  main.main-content[data-page-toc="true"].blog-default section.blog-content{
    width:90%;
  }
  main.main-content[data-page-toc="true"].blog-default section.blog-toc{
    width:10vw;
  }
  main[data-page-toc="true"].main-content section.blog-title{
    grid-area: bpTtl;
  }
  main[data-page-toc="true"].main-content section.blog-toc{
    grid-area: bpTOC;
  }
  main[data-page-toc="true"].main-content.blog-postlike section.blog-postlike-author-desc{
    grid-area: bpDesc;
  }
  main[data-page-toc="true"].main-content section.blog-content{
    grid-area: bpCnts;
  
  }
  main[data-page-toc="true"].main-content section.blog-interactions{
    grid-area: bpInteractions;
  }
}

/* Icon Fixes*/
.btn .fa-brands, .btn .fa-solid, .btn .fa-regular, .btn .fa{
	margin-top:5px;
}