<!--Footer Links    -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted mt-5">
  <!--  WIP: Footer Social Buttons
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
     Left
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>

    Right
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
  <!-- Section: Social media -->

  <section id="footer-item-container" class="p-5 ">
      <!--Website information-->
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-2"></i>{{.Site.Title}}
          </h6>
          <p>
            {{.Site.Params.identity.general.description}}
          </p>
        </div>
        
        {{- range .Site.Menus.footer}}
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            {{- with .Params.iconClass}}
            <i class="{{.}} me-2"></i>
            {{- end}}
            {{- .Name}}
          </h6>
          {{- range .Params.links}}
          <p>
            {{- if .url}}
            <a href="{{.url}}" class="text-reset">{{.name}}</a>
            {{- else}}
            <a class="text-reset">{{.name}}</a>
            {{- end}}
            {{- if .links}}{{- range .links}}
              <br>
              <a href="{{.url}}" class="ms-1 text-reset">{{.name}}</a>
            {{- end}}{{- end}}
          </p>
          {{- end}}
        </div>
        <!-- Grid column -->
        {{- end}}
  </section>
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Copyright  © {{- now.Year }}: 
    <a class="text-reset fw-bold" href="{{.Site.BaseURL}}">{{.Site.Title}}</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->