{{- with .subsection}}
    <div class="accordion my-1" {{ with .id }} id="{{ . }}AcrdnBase"{{ end }}>
        <div class="accordion-item border-secondary ">
          <h2 class="accordion-header">
            <button class="accordion-button bg-primary" type="button" data-bs-toggle="collapse"  aria-expanded="true" {{ with .id }} data-bs-target="#{{.}}AcrdnBody" aria-controls="{{.}}AcrdnBody" {{ end }}>
              <span class="text-light">
                {{- with (.icon)}}<i class='{{.}}'>&nbsp;</i>{{- end}}
                {{ with (.name)}}{{.}}{{end}}
              </span>
            </button>
          </h2>
          <div class="accordion-collapse collapse" {{ with .id }} id="{{ . }}AcrdnBody" data-bs-parent="#{{.}}AcrdnBase" {{ end }}>
            <div class="accordion-body">
              {{- range .entries}}
              {{- if .text}}
              <p>{{.text}}</p>
              {{- else if .subsection}} {{ partial "infopage/entryDataFile--subsection-recursive.html" .}} 
              {{- else if .popover}}
              <div class="btn-group bg-primary btn-lg my-1 border-secondary border d-flex">
                <a class="btn btn-primary my-0 btn-lg flex-grow-1 text-start d-flex" {{- if .url}}href="{{.url}}"{{- else}}#{{- end}} role="button">
                  <i class="{{.icon}}">&nbsp;</i>
                  {{.name}}
                </a>
                {{with .popover}}
                <button 
                  style="padding:0; margin:0; "
                  type="button" 
                  class="flex-shrink-1 flex-grow-0 btn px-3 btn-lg btn-primary " 
                  data-bs-toggle="popover" 
                  data-trigger="hover focus"
                  data-placement="top"
                  oncontextmenu="return false;"
                  {{with .title}}data-bs-title="{{.}}" {{end}}
                  {{with .content}}data-bs-content="{{.}}" {{ end}}>
                  {{if .icon}}<i class="{{.icon}}"></i> {{else}} <i class="bi bi-info-circle-fill"></i>{{end}}
              
                </button>
                {{- end}}
              </div>
              {{- else }}
                <a class="btn btn-primary btn-lg d-flex text-start" {{- if .url}}href="{{.url}}"{{- else}}#{{- end}} role="button">
                    <i class="{{.icon}}">&nbsp;</i>
                    {{.name}}
                </a>
              {{- end}}

                </a>
            {{- end}}
            </div>
          </div>
        </div>
    </div>
{{- end}} 