{{ $child_pages := union .Sections .Pages }}
<li class="nav-link navbar-nav border-0 my-0 p-0">
  <div class="dropdown">
    <div class="btn-group nav-link my-0 p-0" role="group" aria-label="Basic example">
      <i class="bi bi-folder"></i> <a type="button" href="{{ .RelPermalink }}" class="nav-link d-inline">
        {{.Title}}
      </a>
      <button type="button" class="btn-lg header-section-menu nav-link d-inline dropdown-toggle border-0 my-0 p-0" data-bs-toggle="dropdown" aria-expanded="false"></button>
      <ul class="dropdown-menu border-0 p-0 header-section-vl">
        <ul class="navbar-nav ps-3 m-0">
          {{ range $child_pages.ByTitle}}                                
            {{ if or (.Sections) (.Pages) }}
            {{ partial "header/section/menu-recursive.html" . }}
            {{- else}}
            <li><a class="dropdown-item p-0 ps-2" href="{{ .RelPermalink }}">
              <i class="bi bi-file-earmark"></i> {{ .Title }}
            </a></li>    
            {{ end }}
          {{ end }}
        </ul>
      </ul>
    </div>
  </div>
</li>